*.vcf
*.vcf.gz
*.fastq
*.fastq.gz
*.fasta
*.fasta.gz
*.bam
*.bai
*.tbi

data/*
attic/*
main_document_cache/
RUN1-anlysis/main_document_cache/
subseted_vcf
html_output
*_cache

SNV/
RUN1-analysis/
data/